
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
    <head th:replace="~{common/head::head}" >
    <body>
        <div th:replace="~{common/header-nav::nav-bar}"></div>
        <div class="container">
            <div class="card my-2">
                <p class="my-2 mx-2">
                    
                </p>
                <div class="card mx-2 my-2">
                    <table class="table table-hover">
                        <thead class="table table-primary">
                            <tr>
                                <th>DESCRIPTION</th>
                                <th>METHOD</th>
                                <th>MAPPING</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <th scope="row">USER VIEW info by ID</th>
                                <td class="text-bg-success">GET</td>
                                <td>https://foodfam-api-production-ef4f.up.railway.app/user/info/1</td>
                            </tr>
                            <tr>
                                <th scope="row">USER List</th>
                                <td class="text-bg-success">GET</td>
                                <td>https://foodfam-api-production-ef4f.up.railway.app/user/list</td>
                            </tr>
                            <tr>
                                <th scope="row">USER ADD by attribute(name,email,password)</th>
                                <td class="text-bg-warning">POST</td>
                                <td>https://foodfam-api-production-ef4f.up.railway.app/user/add</td>
                            </tr>
                            <tr>
                                <th scope="row">USER UPDATE  by attribute(name,email,password)</th>
                                <td class="text-bg-primary">PUT</td>
                                <td>https://foodfam-api-production-ef4f.up.railway.app/user/update/100</td>
                            </tr>
                            <tr>
                                <th scope="row">COUNTRY LIST(Object)</th>
                                <td class="text-bg-success">GET</td>
                                <td>https://foodfam-api-production-ef4f.up.railway.app/country/listObject</td>
                            </tr>
                            <tr>
                                <th scope="row">COUNTRY LIST(Json)</th>
                                <td class="text-bg-success">GET</td>
                                <td>https://foodfam-api-production-ef4f.up.railway.app/country/list</td>
                            </tr>         
                            <tr>
                                <th scope="row">SEARCH City by Country</th>
                                <td class="text-bg-success">GET</td>
                                <td>https://foodfam-api-production-ef4f.up.railway.app/city/list/Philippines</td>
                            </tr>


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <br><!-- comment -->
        <br>



        <!--        <div th:replace="/common/footer::footer"></div>-->
    </body>
</html>
