
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.thymeleaf.org">
    <head th:replace="common/head::head" />
    <body>
        <div th:replace="common/header-nav::nav-bar"></div>
        <div class="container card mt-5">
            <table class="table table-sm container">
                <thead>
                    <tr>
                        <th scope="col-3">Description</th>
                        <th scope="col-2">Method</th>
                        <th scope="col-8">Mapping</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">View user info by ID</th>
                        <td>GET</td>
                        <td>https://foodfam-api-production-ef4f.up.railway.app/user/list</td>
                    </tr>
                    <tr>
                        <th scope="row">Search City by Country</th>
                        <td>GET</td>
                        <td>https://foodfam-api-production-ef4f.up.railway.app/city/list/Philippines</td>
                    </tr>

                </tbody>
            </table>

        </div>
        <br><!-- comment -->
        <br>



<!--        <div th:replace="/common/footer::footer"></div>-->
    </body>
</html>
